.productdetailContainer {
  padding: 10px;
  padding-top: 8vh;
}
.slider-container {
  margin-top: 20px;
}
.imgcoursol {
  height: 40vh;
}
.buttonCartAdd {
  width: 100%;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-align: center;
}
.titleAndshareContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.producttitle {
  font-size: 20px;
  font-family: Roboto;
}
.discountpercentage {
  color: green;
  border: solid 1px green;
  padding: 5px;
}
.originalprice {
  font-family: Roboto;
  font-size: 14px;
  color: black;
  margin-right: 3px;
}
.mrpPrice {
  font-family: Roboto;
  font-size: 12px;
  margin-top: 3px;
  color: #716666;
  text-decoration: line-through;
  margin-right: 4px;
}
.priceContainer {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 8px;
  align-items: center;
}
