.wishlistCont {
  display: flex;
  height: 90vh;
  padding: 20px;

  align-items: center;
  flex-direction: column;
}
.imageEmptyWishlist {
  height: 50%;
  width: 70%;
}
.headWishlist {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  width: 60%;
  margin-bottom: 40px;
}
.wishlistButton {
  width: 100%;
  padding: 12px;
  background-color: #ac43ca;
  color: white;
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
}
.wishlistLinkHome {
  width: 100%;
}
